<div class="row">
  <h3>Foods Donated So Far:</h3><br />
  <% FoodGroup.all.each do |fg| %>
    <div class="col-lg-4">
      <div class="panel panel-primary" data-type="<%= fg.category %>">
        <div class="panel-heading">
          <h3 class="panel-title"><%= fg.category %></h3>
        </div>
        <div class="panel-body">
          <% @team.verified_foods.each do |food| %>
            <% if food.food_group == fg %>
              <p><%= food.name %>
              <% if current_user.id == @team.leader_id %>
                 + <%= link_to("Edit", edit_food_path(food)) %> + <%= link_to("Delete", food_path(food), method: :delete, remote: true) %>
              <% end %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>