<div class = "container">
<fieldset>
  <legend>New Team</legend>
  <%= form_for(@team, :html => {class: "new_team form-horizontal"}) do |f| %>
    <div class="form-group">
      <%= f.label :name %>:
      <%= f.text_field :name %><br />
    </div>

    <div class="form-group">
      <%= f.label "Goal (min 100 lbs)" %>:
      <%= f.text_field :goal %><br />
    </div>

    <div class="form-group">
      <%= f.label "Contact Phone Number" %>:
      <%= telephone_field_tag :phone_number %><br />
    </div>

    <div class="form-group">
      <%= f.label "Choose 3 preliminary food pick-up dates" %>:
    </div>

    <div class="form-group">
      <%= select_date Date.today + 14, prefix: :date1 %>
    </div>

    <div class="form-group">  
      <%= select_date Date.today + 15, prefix: :date2 %>
    </div>

    <div class="form-group">  
      <%= select_date Date.today + 16, prefix: :date3 %>
    </div>

    <div class="form-group">  
      <%= f.submit %>
    </div>
  <% end %>
</fieldset>
</div>