<% message = "Hello!\n\nI've created a team called #{@team.name} on Food Drive Central, a food drive organization application. I'd love it if you'd help us reach our goal of #{@team.goal} pounds of food! Together, we can donate, post Instagram photos, and help eliminate hunger in NYC. Register at http://fooddrivecentral.herokuapp.com. Thanks!\n\nAll the best,\n\n–#{current_user.full_name}" %>

<div class = "wrapp">
	<h1><%= @team.name %></h1>
	<div class="row">
		<div class="col-md-6" id="teambox">
			<h3>Goal: <%= @team.goal %> lbs</h2>
			<h4>Donation Location: <%= @team.donation_location %></h3>
			<h4>Team Leader: <%= @team.leader.full_name %></h3>
			<p>Email: <%= mail_to @team.leader.email, @team.leader.email, {target: "_blank"} %></p>
			<% if !@team.users.include?(current_user)%>
			  <%= form_for UserTeam.new, :html => { :class => "button_to" } do |f| %>
	      <%= f.hidden_field :team_id, :value => @team.id %>
	      <%= f.submit "Join This Team", :class => "link"  %>
			  <%end %>
			<% end %>
		</div>
		<div class="col-md-6" id="teamphoto">
			<%= image_tag("http://scontent-a.cdninstagram.com/hphotos-xfa1/t51.2885-15/10848077_745169788900170_616475853_n.jpg", height: '200', width: '200') if @urls[0] %>
		</div>
	</div>
	<div class="progbox">
		<p><strong>Team Progress:</strong> <%= @team.current_weight.round(1) %> lbs</p>
		<p><strong>Percentage:</strong> <%= @team.current_progress.round(1) %>%</p><br />
		<div class="progress progress-striped">
		    <div class="progress-bar progress-bar-striped" role="progressbar" data-transitiongoal="<%=@team.current_progress_100%>">
		    </div>
		</div>
	</div>

	<div class = "instagram">
		<h3>Post Instagram Photos to <%= @team.hashtag %>!</h3>
		<% @urls.each do |url| %>
			<%= image_tag(url, height: '100', width: '100') %>
		<% end %>
	</div>

	<ul class="nav nav-tabs" id="tabs">
	  <li class="active"><a href="#roster" data-toggle="tab" aria-expanded="false">Roster</a></li>
	  <li class=""><a href="#listfoods" data-toggle="tab" aria-expanded="true">Donated Foods</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="roster">
			<div class = "roster">
				<h3>Roster</h3>
				<div class="row">
				  <% @team.users.each do |user| %>
					  <div class="col-lg-4">
					      <li class="list-group-item"><%= link_to("#{user.full_name}", user_path(user.id)) %></li>
						</div>
					<% end %>
				</div><br />

		  </div>
		</div>
		<div class="tab-pane fade" id="listfoods">
			<div class="listfoods">
				<%= render "nonleader_foods", object: @team %>
					<% if @team.leader == current_user && !@team.no_unverified_foods? %>
						<%= render "leader_foods", object: @team %>
					<% end %>
				</div>
			</div>
		</div>
	
	<div class="emailbox">
		<% if @team.leader == current_user %>
			<div class ="admin_panel">
				<div class= "admin-invite-team-members">
					<h3><%=  mail_to(nil, "Invite New Members!", {subject: "Please Join #{@team.name}", body: message, target: '_blank', :class => "btn btn-info"}) %></h3>
				</div>

				<hr class="style-one">

				<div class="admin-team-email-generator">
					<h4>Send an email blast to the team!</h4><br />
					<%= form_tag(message_preview_path) do %>
						<div class="form-group">
							<%= text_field_tag(:subject, nil, placeholder: "Email Subject") %>
						</div>
						<div class="form-group">
							<%= text_area_tag(:body, nil, placeholder: "Body", cols: 40, rows: 10) %>
						</div>
						<div class="form-group">
							<%= submit_tag("Send Email") %>
						</div>
					<% end %>
				</div>
			</div> <!--end admin panel-->
		<% end %>
	</div>
</div>





