<div class = "container">
	<h1><%= @team.name %></h1>
	<h2>Goal: <%= @team.goal %> lbs</h2>
	<p><strong>Team Progress:</strong> <%= @team.current_weight %> lbs</p>
	<p><strong>Percentage:</strong> <%= @team.current_progress.round(1) %>%</p>
	<div class="progress progress-striped">
	    <div class="progress-bar progress-bar-striped" role="progressbar" data-transitiongoal="<%=@team.current_progress_100%>">
	    </div>
	</div>
	<h3>Roster</h3> <%= form_for UserTeam.new, :html => { :class => "button_to" } do |f| %>
     <%= f.hidden_field :team_id, :value => @team.id %>
     <%= f.submit "Join This Team", :class => "link"  %>
     <%end %>
	
	<ul class="list-group">
	  <% @team.users.each do |user| %>
	    <li class="list-group-item"><%= link_to("#{user.full_name}", user_path(user.id)) %></li>
	  <% end %>
	</ul>
	<br />
	<% if @team.leader == current_user %>
		<%= render "leader_foods", object: @team %>
	<% else %>
		<%= render "nonleader_foods", object: @team %>
	<% end %>
	
	<br />
	<% if @team.leader == current_user %>
		<div class ="admin_panel">
			<div class= "admin-invite-team-members">
				<%=  mail_to(nil, "Invite Members", {subject: "Please Join #{@team.name}", body: "Hey buddy, why dont cha join this here team? Come on do it boi!, Thanks.", target: '_blank'}) %> 
			</div>

			<div class="admin-team-email-generator">
				<h4>Send an email blast to the team!</h4>
				<%= form_tag(team_messages_path(@team.id)) do %>
					<div class="form-group">
						<%= text_field_tag(:subject, nil, placeholder: "Email Subject") %>
					</div>
					<div class="form-group">
						<%= text_area_tag(:body, nil, placeholder: "Body", cols: 40, rows: 10) %>
					</div>
					<div class="form-group">
						<%= submit_tag("Send Email") %>
					</div>
				<% end %>
			</div>
		</div> <!--end admin panel-->
	<% end %>
</div>





