<h1><%= @team.name %></h1>
<h2>Goal: <%= @team.goal %> lbs</h2>
<p><strong>Team Progress:</strong> <%= @team.current_weight %> lbs</p>
<p><strong>Percentage:</strong> <%= @team.current_progress %>%</p>
<div class="progress progress-striped">
    <div class="progress-bar progress-bar-striped" role="progressbar" data-transitiongoal="<%=@team.current_progress%>">
    </div>
</div>
<h3>Roster</h3>
<ul class="list-group">
  <% @team.users.each do |user| %>
    <li class="list-group-item"><%= user.full_name %></li>
  <% end %>
</ul>



