<div class = "row" id="profilebox">
  <div class="col-md-7" id="username">
    <h1><%= @user.full_name %></h1>
    <h4><%= @user.email %></h4>
    <% if current_user.id == @user.id %>
      <p><strong><%= link_to("Edit Your Photos", pictures_path) %></strong></p>
    <% end %>
  </div>
  <div class="col-md-5" id="userphoto">
    <% if !@user.profile_url || @user.profile_url == "" %>
     <img src=<%= image_path("default-profile.png") %> class="img-thumbnail picture hidden-xs" />
     <img src=<%= image_path("default-profile.png") %> class="img-thumbnail visible-xs picture_mob" />
    <% else %>
     <img src=<%= @user.profile_url %> class="img-thumbnail picture hidden-xs" />
     <img src=<%= @user.profile_url %> class="img-thumbnail visible-xs picture_mob" />
    <% end %>
  </div>
</div>