<div class = "wrapp">
	<fieldset>
		<legend>Edit Your Photos</legend>
			<%= form_for(@user, url: :pictures_update, :html => {class: "form-horizontal"}) do |f| %>

				<div class="form-group">
					<%= f.label :profile_url, "Profile Picture URL" %><br>
				  <%= f.text_field :profile_url %><br />
			  </div>

				<div class="form-group">
				  <%= f.label :cover_url, "Background Theme" %>:
	        <%= f.select :cover_url, [["Sunrise Peace", "sunrise"],
                        ["Helping Heart", "heart"],
                        ["Autumn Inspiration", "autumn"],
                        ["Orange Burst", "orange"],
                        ["Vast Mountains", "mountain"],
                        ["City Skyline", "city"]] %><br />
			  </div>

				<%= f.submit %>
			<% end %>
	</fieldset>
</div>
