<%= render 'profilebox', object: @user %>

<div class = "container">
	<% @user.teams.each do |team| %>
		<div class="panel panel-default">
		  <div class="panel-heading"><h3><%= link_to("#{team.name}", team_path(team.id)) %> </h3></div>
		  <div class="panel-body">
		    <p>Led by <%= User.find(team.leader_id).full_name %></p>
				<p><strong>Team Goal:</strong> <%= team.goal %></p>
				<p><strong>Team Progress:</strong> <%= team.current_weight %></p>
				<p><strong>Percentage:</strong> <%= team.current_progress.round(1) %>%</p>
			  <% if current_user.id == @user.id %>
			  	<%= link_to("Donate Food", new_team_food_path(team.id)) %>
			  <% end %>
			  <h4><%= @user.full_name %>'s Donations to <%= team.name %>:</h4>
			  <ul class="list-group">
			  	<% @user.foods(team.id).each do |food| %>
				    <li class="list-group-item" data-id="<%= food.id %>">
				    	<%= food.name %>
				    	<% if current_user.id == @user.id %>
				    		 + <%= link_to("Edit", edit_food_path(food)) %> + <%= link_to("Delete", food_path(food), method: :delete, remote: true) %>
				    	<% end %>
				    </li>
			    <% end %>
			  </ul>
		  </div>
		</div>
	<% end %>

	<% if current_user.id == @user.id %>
		<div class = "well">
			<%= link_to("Create a New Team", new_team_path) %>
			<%= form_for UserTeam.new do |f| %>
				<%= f.collection_select :team_id, Team.all, :id, :name %>
				<%= f.submit "Join This Team" %>
			<% end %>
		</div>
	<% end %>

</div>
